.main.menu {
    margin-top: 4em;
    border-radius: 0;
    border: none;
    box-shadow: none;
    transition:
    box-shadow 0.5s ease,
    padding 0.5s ease
    ;
}

.secondary.menu {
    display: none !important ;
}

@media only screen and (max-width: 700px) {
  .ui.main.menu {
    display: none !important;
  }
  .main.menu .item,
  .main.menu .menu {
    display: none;
  }
  .secondary.menu {
    display: block!important;
  }
}

/* LiveBet Page */
.livebet-menu-row{
    display: inline-block; 
    text-align: center;
}
.three.column.row.livebet{
    margin-right: 20px;
}
.livebet-menu-title{
    margin: 10px;
}
.livebet-menu-right{
    text-align: right;
}

.livebet-content-header{
    background: #424242;
    color: white;
    font-weight: 600;
    padding: 10px;
    margin: 0;
    border: 1px dotted white;
}
/* LiveBet Page - END*/

/* Sport Page */
.table-row-main-container{
    display: inline-block;
    padding: 10px 0;
    background: #0a437f;
    color: white;
    width: 100%;    
}
.table-header-cell-left{
    float: left;
}
.table-header-cell-right{
    float: right;
    cursor: pointer;
}
.table-body-main-container, .table-row-main-container-inner{
    display: block;
    width: 100%;
}
.button-main-container{
    margin: 0;
    width: 50%;
    border-radius: 0;
    border: 1px solid white;
    text-transform: uppercase;
    text-align: left;
    padding: 10px 0;
}
.headerLeftMenu {
    display: block;
    cursor: pointer;        
} 
.headerLeftMenu-hidden{
    display: none;
}
.left-sidebar-border{
    border: 1px dotted black;
}

/* Sport Page - Single Match */

.ui.button.single-match-button{
    width: 100%;
    padding: 10px 0px;
    margin: 0px 0px 5px 0px;
    border: 1px solid white;
}
.single-match-row{
    width: 25%;
    float: left;
    text-align: center;
}
.single-match-column-header{
    border: 1px solid orange;
}
/* Sport Page - Single Match - END */
/* Sport Page - Sport Component */
.ui.three.grid.sport-component{
    margin-right: 20px;
}
.three.wide.column.sport-component{
    text-align: center;     
}
/* Sport Page - Sport Component - END */

/* Sport Page - Middle Box Container */
.middle-box-container{
    border: 4px solid #566C79;
    margin-bottom: 20px;
}

.ui.right.floated.icon.button.size-three{
    width: 30%;
    padding: 0;
}
.box-middle-buttons-fullwidth{
    display: inline-block; 
    width: 100%;
}

/* Sport Page - Middle Box Container - END */

/* Sport Page - END */

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

/* Ticket */



.ui.table tbody tr td.selectable:hover{
    background-color: rgba(161, 153, 153, 0) !important;
    
}

.ticket-modal-quick-h2{
    cursor: pointer;
    width: 90%; 
    text-align: left !important;
}
.ticket-checkbox-quick{
    width: 10%;
    float: left;
}

#tabelica{
    width: 100%;
    background-color: #2e3338;
    border-spacing: 0;
    color: white;
    border-collapse: collapse;
}

.ticket-child-main-single-match{
    border-bottom: 1px solid rgba(34,36,38,.15);
}













.ui.right.floated.content span{
    padding: 2px 0px;
    margin-right: 2px;
    width: 60px;
    float: left;
    background: #0E1E2B;
    color:  #1FE8AF;
}
.ui.right.floated.content .window.star.outline.icon, .window.star.icon{
    color: yellow;
}



.ui.middle.aligned.divided.list{
    background: #293744;
    color: #DFDFE7;
    margin: 2px 0px;
    padding: 10px 10px;
    
}

.ui.divided.list > .item:first-child .ui.left.floated.content{
    color: #DFDFE7;
}
.ui.divided.list > .item .ui.left.floated.content{
    color: #1FE8AF;
    font-size: 12px;
}
.ui.divided.list > .item {    
    margin: 5px 0px;
}

.ui.divided.items{
    font-size: 25px;
    padding-top: 30px;
    margin-bottom: 0px;
    color: #DFDFE7;
    padding-top: 30px;
}
.trash.icon{
    cursor: pointer;
}
.trash.icon:hover{
    color: red;
}

.ui.secondary.pointing.menu{
    border: none;
    
}

#content {
    min-height: 100px;
    }
.ui.grid{
    padding: 0 !important;
    }
.pushable.segment{
    margin: 0 !important;
    }




.ui.secondary.inverted.pointing.menu a{
    color: #DFDFE7 !important;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 18px;
}
.ui.secondary.inverted.pointing.menu a:hover{
    color: #1FE8AF !important;    
}
i.sidebar.icon {
    font-size: 18px;
}
[class*="three wide"].column > ul:first-child{
    margin: 0px;
}









.ui.divided.list > .item{
    border: none;
}
.ui.input.input-left{
    width: 50%;
    float: left;
}
.ui.input.input-right{
    width: 50%;
    float: right;
}
.ui.fluid.search.selection.dropdown{
    width: 50%;
    float: right;
}
.dropdown-users-agency{
    margin-bottom: 10px;
    width: 100%;
}
.checkbox-importo, .checkbox-accetta{
    float: left; 
    margin-bottom: 5px;
}
.checkbox-stampa{
    float: left; 
    margin-bottom: 10px;
}
/* Ticket - END */


.headerLeftMenu:hover {    
    /* background: #c38004;  */
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
} 

.ui.table td.active, .ui.table tr.active, .ui.active.button.moje-dugme{
   background: lightgreen !important;        
}
td.active:hover, tr.active:hover{
    background: lightgreen !important; 
}
.ui.button.moje-dugme{
    background: white;
    text-align: left;
    margin: 0;
    width: 25%;
    border-radius: 0; 

}

.ui.button.moje-dugme:hover{
    background: rgba(34, 36, 38, 0.1);
}
.ui.active.button.moje-dugme:hover{
    background: lightgreen; 
}


.buttons{
  border: none;
  color: white;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;  
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.komponenta{
    background-color: red;       
}
.betvip-subheader{
    color: #fff;
    font-weight: 600;
}
.betvip-subheader:hover{
    color: #1FE8AF;
    cursor: pointer;
}
#tabelica > thead > tr > th{    
	padding: 2px;
	line-height: 1.42857143 !important;
	vertical-align: top;
	
}
#tabelica > thead > tr > th:hover{    
    background-color: #777a41 !important;
}
#tabelica tr:hover{    
    background-color: #777a41 !important;
}
#tabelica > tbody > tr:nth-child(2n+1) {
    background-color: #353a41;
    border-top: 1px solid #1c1e22;
    border-bottom: 1px solid #1c1e22;
}
.table-cell{
    padding: 5px 0 !important;
    color: #566C79;
    text-transform: uppercase;
}
.ui.fluid.search.selection.dropdown.true{
    border: 1px solid rgba(131, 181, 214, 0.914);
}
.ui.fluid.search.selection.dropdown, .ui.fluid.search.selection.dropdown.false{
    border: 1px solid rgba(34, 36, 38, 0.15);
}
.live-bet-odds:hover{
    background: green !important;    
}
.ui.segment.home{
    cursor: pointer;
    border: 2px black solid;
}
.ui.segment.home:hover{
    background: #777a41;
}
.slick-next::before, .slick-prev::before{
    font-size: 35px;
}
.homepage-item img{
    background:  no-repeat center / fill;  
    width: 100%;    
    position: relative;
}

.ui.inverted.segment{
    position:fixed;
        left:0;
        bottom:0;
        right:0;
}